<app-header></app-header>


<div #mydiv>

  <br>
  <div align="center"><h1>Stopa PDV-a </h1></div>
  <br>
  <br>
  <table border="2" style="..." align="center" class="table">
    <tr>

      <th>Vrednost stope</th>
      <th>Datum vazenja</th>
      <td></td>
    </tr>
    <tr *ngFor="let p of stopePdv" >
      <td> {{ p.stopa }}</td>
      <td> {{ p.datumVazenja }}</td>
      <div>
        <td>

          <!--<button (click)="brisiPdvStopa(p.id)" class="btn btn-danger"> Obrisi</button>-->

          <button (click)="openModal(template,p)" class="btn btn-warning"> Izmeni</button>
          <!--<input #izmeniPdvPolje id="izmeniPdvPolje" name = "izmeniPdvPolje" type ="text" value="" placeholder="Izmeni PDV">-->
        </td>
      </div>
    </tr>

  </table>

  <!-- nananan !!!!-->
  <br>

  <br>


  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Izmeni stopu</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<label for="sel2">Stopa</label>-->
      <div>
        <!--<select required="required" class="form-control" id="sel2"  [(ngModel)]="stopaSelected.id" >-->
        <!--<option *ngFor="let st of stopaModal" value="{{st.id}}">{{st.stopa}}%  , datum: {{st.datumVazenja}}</option>-->
        <!--</select>-->
        <!--<br>-->
        <label>Vrednost stope:</label>
        <input [(ngModel)]= "stopaPdv.stopa" type="number" maxlength="3" max="100"min="0" required="required" placeholder="Vrednost stope...">
        <br>
        <label>Datum vazenja * </label>
        <input class="form-control" required="required" name="datumVazenja" [ngModel]="stopaPdv.datumVazenja |  date:'yyyy-MM-dd'" (ngModelChange)="stopaPdv.datumVazenja = $event" type="date">
        <br>
        <br>
      </div>
      <br>

      <button class="btn-warning" (click)="izmeniStopu()">Prihvati</button>
    </div>
  </ng-template>

</div>

