<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/pocetna" style="color: black">Site</a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>-->
      <!--<li><a role="button" routerLink='/shows/:type'>Bioskopi</a></li>-->
      <!--<li><a role="button" routerLink="/shows/:type">Pozorista</a></li>-->

    </ul>

    <ul class="navbar-header navbar-right">
      <div class="row">
        <div class="col">
          <!--<div ngbDropdown class="d-inline-block">-->
            <!--<button style="height: 54px;width: 85px ;color: aqua;background: #091b50" class="btn btn-outline-primary"-->
                    <!--id="dropdownKorisnik" ngbDropdownToggle>Korisnik-->
            <!--</button>-->
            <button routerLink="/login" class="zaDropDown"> Prijava </button>
            <button routerLink="/register" class="zaDropDown"> Registracija </button>

          </div>
        <!--</div>-->
      </div>
    </ul>

  </div>
</nav>
