<app-header></app-header>

<div #mydiv>

  <br>
  <div align="center"><h1> Profil </h1></div>
  <br>
  <table border="2" style="..." align="center" class="table">
    <tr>
      <th></th>
      <th></th>
      <th>Mi</th>
    </tr>
    <tr>
      <td> {{ preduzece.naziv}}</td>
      <td> {{ preduzece.pib }}</td>
      <td>{{ preduzece.email }}</td>
      <div>
        <td>

          <!--<button class="btn" (click)="activate(p.id)" *ngIf="p.activated == false">Activate</button>-->
          <!--<button class="btn" (click)="block(p.id)" *ngIf="p.activated">Block</button>-->
          <button class="btn" (click)="obrisii(p.id)">Delete</button>

        </td>
      </div>
    </tr>

  </table>

</div>
