<app-header></app-header>

<div >

  <br>
  <div align="center"><h1> Svi nasi partneri </h1></div>
  <br>
  <table border="2" style="..." align="center" class="table">
    <tr>
      <th>Mi</th>
      <th>Datum</th>
      <th>Partneri</th>
      <th>Partner pib</th>
      <th>Partner email</th>
      <th>Partner broj racuna</th>
      <th>Drzava</th>
      <th>Grad</th>
      <th>Ulica</th>
      <th>broj</th>

      <td></td>
    </tr>
    <tr *ngFor="let p of partnerstvo">
      <td>{{ p.preduzece1.naziv }}</td>
      <td> {{ p.datum }}</td>
      <td> {{ p.preduzece2.naziv }}</td>
      <td> {{ p.preduzece2.pib }}</td>
      <td> {{ p.preduzece2.email }}</td>
      <td> {{ p.preduzece2.brojRacuna}}</td>
      <td> {{ p.preduzece2.adresa.drzava }}</td>
      <td> {{ p.preduzece2.adresa.grad }}</td>
      <td> {{ p.preduzece2.adresa.ulica }}</td>
      <td> {{ p.preduzece2.adresa.broj }}</td>
      <div>
        <td>

          <!--<button class="btn" (click)="activate(p.id)" *ngIf="p.activated == false">Activate</button>-->
          <!--<button class="btn" (click)="block(p.id)" *ngIf="p.activated">Block</button>-->
          <button class="btn" (click)="obrisii(p.id)">Delete</button>

        </td>
      </div>
    </tr>

  </table>
<hr>
  <!--<div align="center" #mydiv>-->

    <!--<div class="col-md-6 col-md-offset-3">-->
      <!--<h2> Create new partner </h2>-->
      <!--&lt;!&ndash;<form name="form" (ngSubmit)="f.form.valid && register(email.value, lozinka.value, lozinka2.value, ime.value, prezime.value, grad.value, broj.value)" #f validate>&ndash;&gt;-->
      <!--<div class="form-group">-->
        <!--<label>Naziv</label>-->
        <!--<input #naziv type="text" class="form-control" required/>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>E-mail</label>-->
        <!--<input #email type="email" class="form-control" required/>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="lozinka1">Lozinka:</label>-->
        <!--<input #lozinka name="lozinka" type="password" class="form-control" id="lozinka1" required/>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="lozinka2">Ponovite lozinku:</label>-->
        <!--<input #lozinka2 type="password" (change)="provjeriLozinke(lozinka.value, lozinka2.value)" class="form-control"-->
               <!--id="lozinka2" required/>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="ime">Pib:</label>-->
        <!--<input #pib name="ime" type="text" class="form-control" id="ime" required/>-->
      <!--</div>-->

    <!--<button class="btn btn-success" (click)="dodajPartnera()" > Dodaj </button>-->
  <!--</div>-->

  <!--</div>-->
  <div align="center">
  <label> <b>  Postojece preduzeca: </b> </label>
  <div class="form-group">
    <select  class="form-control"   [(ngModel)]="partner" name="adresa" #adresa >  <!--  name = "typeOfLodging" formControlName="typeOfLodging" -->
      <option *ngFor="let p of sviPartneri" [value]="p.id"  >{{ p.naziv}}</option>
    </select>
  </div>
    <button class="btn btn-success" (click)="dodajPartnera(adresa)" > Dodaj </button>
  </div>

</div>
