<app-header></app-header>
<div class="container">
   <div>
    <h3>Neplacene fakture (izaberite fakture i iznos koje zelite da platite)</h3>
     <button class="btn btn-warning" (click)="generisiPrijedlog()">Dalje</button>
   </div>
   <br/>

      <table border="2" style="..." align="center" class="table">

        <tr>
          <th>Plati</th>
          <th>Iznos</th>
          <th>Broj fakture</th>
          <th>Potrazuje</th>
          <th>Datum</th>
          <th>Valuta</th>
          <th>Datum valute</th>
          <th>Preostali iznos</th>
          <th> Ukupno za placanje </th>
          <th>Ukupan rabat</th>
          <th>Bez PDV-a</th>
          <th>Ukupan PDV</th>
          <th>Poslovna godina</th>
          <th>Status</th>
          <th> Stavke</th>
        </tr>

        <tr *ngFor="let faktura of neplacene;let i = index">
          <td><input type="checkbox" [checked]="isCh[i]" (change)="isCh[i] = !isCh[i]"></td>
          <td><input type="number" [(ngModel)]="iznos[i]"></td>
          <td> {{ faktura.broj }}</td>
          <td>{{faktura.primalac.naziv}}</td>
          <td>{{faktura.datum}}</td>
          <td>{{faktura.valuta}}</td>
          <td>{{faktura.datumValute}}</td>
          <td>{{faktura.preostaliIznos}}</td>
          <td>{{faktura.ukupnoZaPlacanje}}</td>
          <td>{{faktura.ukupanRabat}}</td>
          <td>{{faktura.bezPDV}}</td>
          <td>{{faktura.ukupanPDV}}</td>
          <td>{{faktura.poslovnaGodina}}</td>
          <td>
            {{ faktura.status }}
          </td>
          <td> <button class="btn-link" (click)="setStavke(faktura.stavkaFaktureList)">Stavke</button></td>
        </tr>

      </table>

</div>


