<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header> <!-- Sve u hederu ... -->

<ngb-tabset>
  <ngb-tab title="Poslovna Banka">
    <ng-template ngbTabContent>
      <p>Osnovni podaci o poslovnim bankama</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Drzavna Banka</b></ng-template>
    <ng-template ngbTabContent>
      <p>Neke osnovne stvari o drzavnoj bankama</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<router-outlet></router-outlet>

