<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"  style="color: black"> Site </span>
    </div>
    <ul class="nav navbar-nav ">
      <li> <a class="btn btn-link" routerLink="/moje-fakture"> Fakture </a> </li>
      <li> <a class="btn btn-link" routerLink="/partneri">  Partneri </a> </li>
      <li> <a class="btn btn-link" routerLink="/proizvodi"> Proizvodi </a> </li>
      <li> <a class="btn btn-link" routerLink="/grupa-proizvoda"> Grupa proizvoda </a> </li>
      <li> <a class="btn btn-link" routerLink="/jedinica-mere">  Jedinice mere </a> </li>
      <li> <a class="btn btn-link" routerLink="/cenovnici">  Cenovnici </a> </li>
      <li> <a class="btn btn-link" routerLink="/pdv">  PDV </a> </li>
      <li> <a class="btn btn-link" routerLink="/valute">  Valute </a> </li>
      <li> <a class="btn btn-link" routerLink="/nalog-za-placanje"> Nalozi za plaćanje </a> </li>
      <li> <a class="btn btn-link" routerLink="/generisi-nalog">  Generiši nalog za plaćanje </a> </li>
    </ul>

    <ul class="nav navbar-nav navbar-collapse navbar-right">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary btn-lg"
                    id="dropdownKorisnik" ngbDropdownToggle>Korisnik
            </button>

            <div ngbDropdownMenu>
              <li ><button href="/profil" class="btn-link btn-lg" > Profil</button></li>
              <button (click)="logOut()"  class="btn-link btn-lg"> Odjava</button>
            </div>

          </div>

        </div>
      </div>
    </ul>
  </div>
</nav>
<br>


